
 .consult{
    position: relative;
    left: 47%;
    width: 15%;
    top: 15px;
    color: #54c7f9;
 }
 .consul-option{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 37px;
    justify-content: space-between;
    height: 47%;
 }
 #active{
    display: flexbox;
    flex-direction: column;
    position: relative;
    left: 4%;
    height: 100%;
    width: 28%;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(185, 176, 176, 0.37);
 }
 #unpaid{
    display: flexbox;
    flex-direction: column;
    position: relative;
    left: 0%;
    height: 100%;
    width: 28%;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(185, 176, 176, 0.37);
 }
 #resolved{
    display: flexbox;
    flex-direction: column;
    position: relative;
    right: 4%;
    height: 100%;
    width: 28%;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(185, 176, 176, 0.37);
 }

 .navbar{
    height: 10%;
    width: 100%;
    background-color: #54c7f9;
 }
 .resource{
    position: relative;
    left: 48%;
    width: 15%;
    top: 4%;
    color: #54c7f9;
    
 }
 .resource-option{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 9%;
    justify-content: space-between;
    height: 55%;
    
 }
 #food{
    display: flexbox;
    flex-direction: column;
    position: relative;
    left: 4%;
    height: 100%;
    width: 28%;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(185, 176, 176, 0.37);
 }
 #mind{
    display: flexbox;
    flex-direction: column;
    position: relative;
    left: 0%;
    height: 100%;
    width: 28%;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(185, 176, 176, 0.37);
 }
 #sux{
    display: flexbox;
    flex-direction: column;
    position: relative;
    right: 4%;
    height: 100%;
    width: 28%;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(185, 176, 176, 0.37);
 }
 .nutopics{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    height: 100%;
 }
 .web{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 80%;
 }
 a{
    text-decoration: none;
    color: #000000;
 }
 a:hover{
    background-color:  #54c7f9;
 }
 a{
   color: blue;
 }
 
 .vd{
   float: left;
   font-size: 12px;
   font-weight: lighter;
   padding: 20px;
  }
  p{
   margin-top: 0.5%
  }
  #plate{
   position:relative;
   height: 11%;
   top: -1.7%;
   left: 2%;
   border-radius: 90% ;
  }
 #loader{
   position:relative;
   top: -14%;
   left: 13%;
   color: #54c7f9;
   font-size: x-large;
 }
 #tick{
   position:relative;
   top: -14%;
   left: 15%;
   color: #54c7f9;
   font-size: x-large;
 }
 .about{
display: flex;
flex-direction: row;
height: 35%;
width:85%;
position: relative;
top: 10%;
left: 7%;
background-color:  rgba(185, 176, 176, 0.37);
text-align: center;
justify-content: space-around;
line-height: 230%;
padding-top: 3%;
padding-bottom: -2%;
border-radius: 20px;
 }

.hospital{
   display: flex;
   flex: row;
   position: relative;
   top: 12%;
   left: 45%;
   width:9%;
   color: 54c7f9;
}



.navbar{
   background-color: #54C7F9;
   padding: 10px;
   position: fixed;
   width: 97%;
   margin-top: -10px;
   display: block;
}

.navbar .menu li a{
   color: white;
   font-size: 18px;
   font-weight: 400;
   display: inline;
   padding: 30px;
   margin-left: 25px;
   transition: all 0.9s ease;
}

.navbar .logo a{
   font-size: 35px;
   font-weight: 600;
   color: white;
   margin-left: 50px;
   font-family: 'Poppins';font-size: 42px;

}

.logo{
   color: white;
   margin-inline-start: -100px;
   font-family: 'Poppins';font-size: 42px;
   font-size: 35px;
   font-weight: 600;
}

#image1{
   position: relative;
   left: -4%;
   top: 0px;
   width: 70px;
   height: 70px;
   border-radius: 40px;
   margin-inline-start: 60px;
}
 .image2{
   margin-top: 120px;
   top: 150px;
   margin-left: 46%;
   width: 130px;
   height: 130px;
   border-radius: 50%;
   /*margin-inline-start: 60px;*/
}


.navbar .menu li{
   list-style: none;
   display: inline-block;
}

.navbar .max-width{
   display: flex;
   align-items: center;
   margin:auto;
   justify-content: space-between;
}

.navbar .menu li a:hover{
   color: green
}


.navbar .logo a span{
   color: green
}

.log{
   margin-left: 35%;
   margin-top: 5%;
   
}
.footer{
   display: flex;
   flex-direction: row;
   height: 20%;
   width: 100%;
   background-color: #54C7F9;
   position: relative;
   margin-top: 6%;
   justify-content: space-around;
   padding-top: 2%;

}
.imgt{
   height: 35%;
   position: relative;
   top: 60%;

}
.imgf{
   height: 35%;
   position: relative;
   top: 60%;
}
.imgi{
   height: 35%;
   position: relative;
   top: 60%;
}
.imgs{
   display: flex;
   flex-direction: row;
   padding: 2%;
   margin-left: -2%;
   margin-top: -2%;
}
.com{
   font-weight: 10px;
}
.footer a{
   color: white;
}


