*{
    margin: 0;
    padding: 0;
}
#logo {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.rounded {
    border-radius: 50%;
}
.M {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #54C7F9;
    font-size: 20px;
    padding-top: 1%;
}
#username {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    margin-top: 1%;
}
#password {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 1%;
    margin-top: 1%;

}
#login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2% 5%;
    margin-top: 1%;
    border-radius: 20px;
}
button {
    background-color: #54C7F9;
    padding: 0.8% 3%;
    border-radius: 20px;
    font-size: 20px;

}
#fp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 9%;
}
#fp a {
    color: #54C7F9;
}
#lp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
}
#lp a {
    color: #54C7F9;
}
#login button {
    color: white;
    font-weight: 600;
    border-radius: 20px;
    padding: 6px 70px;
    border: none;
    outline: none;
}
#lp h4 {
    font-weight: lighter;
}
input {
    border-radius: 20px;
    padding: 10px 10px;}